body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
    flex-direction: column;
}


.contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    height: 30rem;
    width: 70rem;
    /* border: 2.4px solid rgb(27, 119, 239); */
    /* margin: 9rem;
    border-radius: 1.5rem; */
}

table {
    width: 27rem;
}

img {
    width: 8rem;
    height: 8rem;
    padding: 2px;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    color: red;
}

td {
    width: 2rem;
    text-align: center;
}