body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
  flex-direction: column;
}

h2 {
  position: relative;
  top: 140px;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  height: 20rem;
  width: 50rem;
  border: 2.4px solid rgb(27, 119, 239);
  margin: 9rem;
  border-radius: 1.5rem;
}

.time_days {
  display: flex;
}

.time {
  padding-right: 3rem;
}

.faculty_room {
  display: flex;
  margin: 2rem 2rem 2rem 0;
}

.faculty {
  padding-right: 3rem;
}

.faculty input {
  width: 300px;
}

.btnn {
  /* justify-content: center;
        display: flex;
        align-content: center;
        text-align: center; */
  margin-left: 15rem;
  margin-top: 2rem;
  width: 5rem;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  border: rgb(27, 119, 239);
  background-color: white;
  color: rgb(27, 119, 239);
}

nav {
  width: 100%;
}



button {
  /* background-color: white;
    color:rgb(27, 119, 239) ; */
}

button :hover {
  background-color: rgb(27, 119, 239);
  color: white;
  border-radius: 1.2rem;
}


