nav{
    /* color: white; */
    background : rgb(27, 119, 239) ;
}

.VIT{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    padding-left: 1rem;
}
.VelloreCampus{
    font-family: 'Times New Roman', Times, serif;
    font-size:1rem;
}
.outer_card img{
    text-align: center;
    width: 17.77rem;
    height: 18rem;
    padding: 0.5rem;
    margin: -0.7rem;
    padding-top: 1.3rem;
      
}
.outer_card img:hover{
    cursor: pointer;
  }
nav img {
    /* display: flex; */
    width: 2.2rem;
    height: 2.2rem;
  }

nav span{
    font-size: 1.5rem;
    color: aliceblue;
}
.container-fluid{
    display: flex;
}
.outer_card{
    text-align: center;
    display: flex;
    /* text-align: center; */
    justify-content: center;
}
.card_border{
    margin: 2rem;
    border: 2.4px solid rgb(27, 119, 239);
}
.btn{
    background-color: white;
    color:rgb(27, 119, 239) ;
}

#footer{
    text-align: center;
    /* padding: 1.02%; */
    height: 2.5rem;
    background-color:rgb(27, 119, 239);
}
#footer p{
    color: white;
    margin-top: 4rem;
    margin-bottom: 0rem;
    padding-top: 12px;
}